@import url('../layout/layout.css');

.section {

}

.section--1 {
    background: url('../assets/images/home-1-bg.png') no-repeat center;
    background-size: cover;
    color: var(--white);
}

.section--1_content {
    padding-top: 40px;
    padding-bottom: 80px;
}

.section--2 {
    background: var(--yellow);
    color: var(--black);
}

.section--2_content {
    padding-top: 24px;
    padding-bottom: 24px;
}

.donation--in-section {
    width: 284px;
}

.section-2-img {
    width: 100%;
    height: auto;
}

.section--2-block-mb {
    margin-bottom: 24px;
}

.section--3 {
    background: var(--blue);
    color: var(--white);
}

.section--3_content {
    padding-top: 24px;
    padding-bottom: 24px;
}

.section--3_logo {
    background: var(--laght-gray);
    width: 100%;
}

.section--3_logo img {
    max-width: 100%;
}

.section--4 {
    background: var(--white);
}


@media (min-width: 768px) and (max-width: 1199px) {
    .donation--in-section {
        width: 624px;
    }

    .section--1 {
        min-height: 100vh;
    }

    .section--1_content {
        padding-top: 96px;
        padding-bottom: 186px;
    }

    .section--2_content {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .section-2-img {
        width: 100%;
        height: auto;
    }

    .section--2-block-mb {
        margin-bottom: 40px;
    }

    .section--3_content {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .section--3_logo {
        width: 80%;
    }

    .section--3_logo img {
        max-width: 200px;
    }
}

@media (min-width: 1200px) {
    .donation--in-section {
        width: 572px;
    }

    .section--1 {
        min-height: 100vh;
    }

    .section--1_content {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .section--2_content {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .section--2-block-mb.section-2-img {
        margin-bottom: 0;
    }

    .section--2-block-mb {
        margin-bottom: 40px;
    }

    .section--3_content {
        padding-top: 40px;
        padding-bottom: 40px;
    }


    .section--3_logo {
        width: 100%;
    }
}
