@import url('../../assets/styles/index.css');

.footer {
    padding-top: 16px;
    padding-bottom: 24px;
    background: var(--black);
}

.logo {
    margin-bottom: 24px;
}

.donation {
    margin: 24px 0;
    padding: 10px 8px;
    font-size: 16px;
    background: var(--white);
}

.social-media {
    padding: 10px 18px;
}

.social-media:hover {
    text-decoration: none;
}

.contact {
    margin-bottom: 24px;
}

.contact-title {
    margin-bottom: 8px;
}

.copyright {
    margin-top: 24px;
}

@media (max-width: 348px) {
    .social-media span {
        font-size: 12px;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .footer {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .logo {
        margin-bottom: 40px;
    }

    .donation {
        margin-top: 32px;
        margin-bottom: 22px;
        padding: 22px 32px;
    }

    .social-media {
        margin-top: 8px;
        padding: 10px 18px;
    }

    .contact {
        margin-bottom: 24px;
    }

    .contact-title {
        margin-bottom: 8px;
    }

    .copyright {
        margin-top: 40px;
        text-align: center;
    }
}

@media (min-width: 1200px) {
    .footer {
        padding-top: 40px;
        padding-bottom: 57px;
    }

    .logo {
        margin-bottom: 40px;
    }

    .social-media {
        margin-top: 0;
        padding: 12px 32px;
    }

    .social-media--first {
        margin-bottom: 24px;
    }

    .contact {
        margin-bottom: 24px;
    }

    .contact-title {
        margin-bottom: 16px;
    }

    .copyright {
        margin-top: 0;
        bottom: 0;
    }

    .how-to-support {
        position: static;
    }
}



