:root {
    /*colors*/
    --yellow: #F5D240;
    --blue: #1650B5;
    --red: #DA3C30;
    --white: #fff;
    --black: #040404;
    --dark-gray: #2F2F33;
    --laght-graay: #D7D8DA;

    --header-height: 60px;
    --header-height-xl: 100px;
}

