.icon {
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.icon-sm {
    width: 12px;
    height: 13px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.icon-fb {
    background-image: url('../images/icons/icon-fb.svg');
}

.icon-ig {
    background-image: url('../images/icons/icon-ig.svg');
}

.icon-tw {
    background-image: url('../images/icons/icon-tw.svg');
}

.icon-li {
    background-image: url('../images/icons/icon-li.svg');
}

.icon-arrow-right {
    background-image: url('../images/icons/icon-arrow-right.svg');
}

.icon-arrow-right-white {
    background-image: url('../images/icons/icon-arrow-right-white.svg');
}

.icon-burger {
    background-image: url('../images/icons/icon-burger.svg');
}

.icon-close {
    background-image: url('../images/icons/icon-close.svg');
}

.icon-prev-white {
    background-image: url('../images/icons/icon-prev-white.svg');
}

.icon-next {
    background-image: url('../images/icons/icon-next.svg');
}

.icon-copy {
    background-image: url('../images/icons/icon-copy.svg');
}
