.icon {
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.icon-sm {
    width: 12px;
    height: 13px;
    background-size: contain;
}

.icon-fb {
    background-image: url('../images/icons/icon-fb.svg');
}

.icon-ig {
    background-image: url('../images/icons/icon-ig.svg');
}

.icon-arrow-right {
    background-image: url('../images/icons/icon-arrow-right.svg');
}


.icon-burger {
    background-image: url('../images/icons/icon-burger.svg');
}

.icon-close {
    background-image: url('../images/icons/icon-close.svg');
}
