.about-us .section-main {
    color: var(--white);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


.about-us .section--3 {
    background: var(--yellow);
}


.video-block {
    padding: 24px 16px;
}

.video {
    max-width: 100%;
}

.youtube-video {
    aspect-ratio: 16 / 9;
    width: 100%;
}


@media (min-width: 768px) and (max-width: 1199px) {
    .video-block {
        padding: 32px;
    }
}

@media (min-width: 1200px) {
    .video-block {
        padding: 32px;
    }
}
