.header {
    /*background: rgba(10, 10, 10, 1);*/
    background: rgba(247, 247, 247, 0.2);
    min-height: var(--header-height);
    color: var(--white);
}

.navbar {
    padding-left: 0;
}

.navigation--toggler.navbar {
    padding-top: 0.4rem !important;
    padding-bottom: 0.4rem !important;
}

@media (min-width: 1200px) {
    .header {
        height: var(--header-height-xl);
    }
}

.lang-selector {
    min-width: 73px;
}

.lang-toggler {
    line-height: 28px;
}

.header .navbar .navbar-toggler {
    border-color: transparent;
}

.header .navbar .navbar-toggler:focus {
    outline: none;
}

.navbar-toggler .icon-burger {
    display: flex;
}

.navbar-toggler .icon-close {
    display: none;
}

.navbar-toggler[aria-expanded="true"] .icon-close {
    display: flex;
}

.navbar-toggler[aria-expanded="true"] .icon-burger {
    display: none;
}

