@import url('../../layout/layout.css');

.section {

}

.home .section-main {
    background: url('../../assets/images/home-1-bg.png') no-repeat center;
    background-size: cover;
    color: var(--white);
}

.section-main_content {
    padding-top: 40px;
    padding-bottom: 80px;
}

.section-main_title {
    font-size: 32px;
    line-height: 35px;
}

.home .section--2 {
    background: var(--yellow);
    color: var(--black);
}

.section--2_content {
    padding-top: 24px;
    padding-bottom: 24px;
}

.donation--in-section {
    width: 284px;
}

.section-2-img {
    width: 100%;
    height: auto;
}

.section--2-block-mb {
    margin-bottom: 24px;
}

.home .section--3 {
    background: var(--blue);
    color: var(--white);
}

.section--3_content {
    padding-top: 24px;
    padding-bottom: 24px;
}

.section--3_logo {
    background: rgba(47, 47, 51, 1);
    width: 100%;
}

.section--3_logo img {
    max-width: 100%;
}

.home .section--4 {
    background: var(--white);
}

.home .section--5 {
    background: url('../../assets/images/home-5-bg.png') no-repeat center;
    background-size: cover;
    color: var(--white);
}

.home .section--6 {
    background: var(--red);
}

.home .section--6 .ua-tab-content {
    min-height: 555px;
}

.transfer-back-link {
    margin-bottom: 58px;
}

.choose-transfer-account .transfer-back-link {
    margin-bottom: 58px;
}

.transfer-back-link .icon-arrow-right {
    margin-right: 20px;
}


@media (min-width: 768px) and (max-width: 1199px) {
    .donation--in-section {
        width: 624px;
    }

    .home .section-main {
        min-height: 100vh;
    }

    .section-main_content {
        padding-top: 96px;
        padding-bottom: 186px;
    }

    .section-main_title {
        font-size: 32px;
        line-height: 35px;
    }

    .section--2_content {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .section-2-img {
        width: 100%;
        height: auto;
    }

    .section--2-block-mb {
        margin-bottom: 40px;
    }

    .section--3_content {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .section--3_logo {
        width: 80%;
    }

    .section--3_logo img {
        max-width: 200px;
    }

    .section--6 .ua-tab-content {
        min-height: 519px;
    }

    .transfer-back-link {
        margin-bottom: 18px;
    }

    .choose-transfer-account .transfer-back-link {
        margin-bottom: 74px;
    }
}

@media (min-width: 1200px) {
    .donation--in-section {
        width: 572px;
    }

    .home .section-main {
        min-height: 100vh;
    }

    .section-main_content {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .section-main_title {
        font-size: 48px;
        line-height: 58px;
        text-transform: uppercase;
    }

    .section--2_content {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .section--2-block-mb.section-2-img {
        margin-bottom: 0;
    }

    .section--2-block-mb {
        margin-bottom: 40px;
    }

    .section--3_content {
        padding-top: 40px;
        padding-bottom: 40px;
    }


    .section--3_logo {
        width: 100%;
    }

    .section--6 .ua-tab-content {
        min-height: 597px;
    }

    .transfer-back-link {
        margin-bottom: 64px;
    }

    .choose-transfer-account .transfer-back-link {
        margin-bottom: 163px;
    }

    .what-do-you-want-to-donate {
        padding-top: 48px;
    }

    .donate-submit-btn {
        margin-top: 112px;
    }
}
